/*=============================
=            PLOTS            =
=============================*/

.single-developments {

	.oversands-view {

		.tabs-body {

			.tab-content {

				#plots {

					// Large Screens

					@media screen and (min-width: 1000px) {

						.plot-1 { top: 459px; left: 189px; }
						.plot-2 { top: 491px; left: 217px; }
						.plot-3 { top: 459px; left: 236px; }
						.plot-4 { top: 354px; left: 261px; }
						.plot-5 { top: 323px; left: 272px; }
						.plot-6 { top: 297px; left: 289px; }
						.plot-7 { top: 515px; left: 278px; }
						.plot-8 { top: 497px; left: 300px; }
						.plot-9 { top: 537px; left: 315px; }
						.plot-10 { top: 584px; left: 336px; }
						.plot-11 { top: 654px; left: 388px; }
						.plot-12 { top: 612px; left: 468px; }
						.plot-14 { top: 595px; left: 634px; }
						.plot-15 { top: 695px; left: 694px; }
						.plot-16 { top: 725px; left: 637px; }
						.plot-17 { top: 741px; left: 562px; }
						.plot-18 { top: 778px; left: 479px; }
						.plot-19 { top: 928px; left: 559px; }
						.plot-20 { top: 906px; left: 634px; }
						.plot-21 { top: 896px; left: 685px; }
						.plot-22 { top: 840px; left: 785px; }
						.plot-23 { top: 946px; left: 784px; }
						.plot-24 { top: 1030px; left: 784px; }
						.plot-25 { top: 1070px; left: 674px; }
						.plot-26 { top: 1077px; left: 554px; }
						.plot-27 { top: 1107px; left: 484px; }
						.plot-28 { top: 1143px; left: 411px; }
						.plot-29 { top: 1180px; left: 311px; }
						.plot-30 { top: 1108px; left: 269px; }
						.plot-31 { top: 1068px; left: 249px; }
						.plot-32 { top: 984px; left: 296px; }
						.plot-33 { top: 954px; left: 356px; }
						.plot-34 { top: 934px; left: 426px; }
						.plot-35 { top: 784px; left: 342px; }
						.plot-36 { top: 825px; left: 246px; }
						.plot-37 { top: 848px; left: 176px; }
						.plot-38 { top: 709px; left: 220px; }
						.plot-39 { top: 679px; left: 209px; }
						.plot-40 { top: 622px; left: 192px; }
						.plot-41 { top: 589px; left: 152px; }
						.plot-42 { top: 619px; left: 140px; }
						.plot-43 { top: 579px; left: 110px; }
					}
				}
			}
		}
	}
}
