/*=============================
=            PLOTS            =
=============================*/

.single-developments {

	.tenterfield {

		.tabs-body {

			.tab-content {

				#plots {

					// Large Screens

					@media screen and (min-width: 1000px) {

						.plot-1 { top: 541px; left: 609px; }
						.plot-2 { top: 571px; left: 541px; }
						.plot-3 { top: 445px; left: 301px; }
						.plot-4 { top: 549px; left: 324px; }
						.plot-5 { top: 649px; left: 334px; }
						.plot-6 { top: 706px; left: 345px; }
						.plot-7 { top: 781px; left: 352px; }
						.plot-8 { top: 838px; left: 368px; }
						.plot-9 { top: 1048px; left: 762px; }
						.plot-10 { top: 978px; left: 750px; }
						.plot-11 { top: 903px; left: 750px; }
						.plot-12-19 { top: 791px; left: 771px; }
						//.plot-12 { top: 837px; left: 790px; }
						//.plot-13 { top: ; left: ; }
						//.plot-14 { top: 846px; left: 710px; }
						//.plot-15 { top: 756px; left: 740px; }
						//.plot-16 { top: 792px; left: 746px; }
						//.plot-17 { top: 752px; left: 797px; }
						//.plot-18 { top: 797px; left: 797px; }
						//.plot-19 { top: 812px; left: 841px; }
					}
				}
			}
		}
	}
}
