input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
select,
textarea {
	color: $text-color;
	border: 1px solid $form-border-color;
	border-radius: 0;
	outline: 0;

	&:focus {

	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	
}

textarea {
	
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;

	background-image: url(assets/dropdown-arrow.svg);
	background-position: calc(100% - 10px) 50%;
	background-size: 20px auto;
	background-repeat: no-repeat;
}


.parsley-errors-list {
	margin: 0;

	li.parsley-custom-error-message {
		position: absolute;
		right: 29px;
		line-height: 36px;
		font-size: 16px;
		color: #cc0000;

		.fa {
			position: absolute;
			left: 0px;
			top: 10px;
		}
	}
}

.parsley-error {
	border: 1px solid #cc0000 !important;
	background-image: none;
}
