#secondary {

	.widget {
		@include rem(margin, 0 0 15px);

		/* Make sure select elements fit in widgets. */
		select {
			max-width: 100%;
		}

		.widget-title {
			font-size: 23px;
			color: #00527b;
			border-bottom: 1px solid #00527b;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		ul {
			margin: 0;

			li {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid #eee;
		
				a {
					padding: 0;
					line-height: 22px;
					text-decoration: none;
				}
			}
		}
	}


	#siblings {
		
		h3 {
			@include rem(font-size, 20px);
			padding-left: 0;
			border-bottom: 1px solid #0089c3;
			@include rem(margin-bottom, 10px);
			@include rem(padding-bottom, 10px);
		}

		ul {
			margin: 0;

			li {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid #0089c3;
				list-style: none;
				font-size: 14px;
				font-weight: 400;

				&.current_page_item {

					a {
						font-weight: 800;
					}
				}
			}
		}
	}
}