// Typography
$base-font-family: $opensans;
$heading-font-family: $base-font-family;
$font-pre: $monospace;
$font-code: $font-pre;

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.625;
$pre-line-height: $base-line-height;
$heading-line-height: $base-line-height;
$line-height-pre: $base-line-height;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$brand-primary: #00527b;
$text-color: #666666;
$text-screen: $text-color;
$text-input: $text-color;

$lightblue: #0088c3;
$dark-gray: #333;
$medium-gray: #999;
$cloud-grey: #f1f1f2;
$light-gray: #f9f9f9;

$color-link: $brand-primary;
$link-hover: darken($brand-primary, 10%);
$link-visited: darken($brand-primary, 10%);

// Backgrounds
$background-color: #ffffff;
$background-hr: $dark-gray;
$background-button: transparent;
$background-screen: $light-gray;
$background-pre: $light-gray;
$background-ins: $light-gray;
$background-mark: $light-gray;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $brand-primary;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;
$border-input: $light-gray;
$border-abbr: $light-gray;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: none;
$form-box-shadow-focus: none;
$form-border-color: #ccc;
$form-bg-color: $lightblue;
$form-button-text-color: white;


// Animations
$base-duration: 300ms;
$base-timing: ease-in-out;

$base-transition: all $base-duration $base-timing;

// Tabs
$tab-link-color: $dark-gray;
$tab-border: 1px solid $base-border-color;
$tab-active-background: $base-background-color;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: #c0c0c0;
$tab-mode: $medium-screen;