#colophon {
	@include section-padding(50px, 50px);
	background: $brand-primary;
	color: white;
	margin-top: 50px;

	a, p, ul, li, span {
		color: inherit;
	}

	ul {
		list-style: none;
		margin-left: 0;
	}

	h3 {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 30px;
		color: white;
	}

	hr {
		color: white;
		background: white;
	}

	.menu-footer-container {
		float: left;

		ul {
			margin: 0;

			li {
				float: left;
				border-right: 1px solid white;
				margin-right: 8px;
				padding-right: 8px;
				line-height: 1;

				&:last-of-type {
					margin: 0;;
					padding: 0;
					border: none;
				}
			}
		}
	}

	.copyright {
		float: right;
		line-height: 1;
	}

	.column {
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(3);
		}

		@include media ($large-screen-up) {
			@include span-columns(4);
		}

		&.contact-info {
			margin-top: 54px;

			p {
				font-weight: 700;
			}
		}

		&.signup {
			margin-top: 54px;

			p {
				font-weight: 700;
			}

			a {
				background: $lightblue;
				padding: 5px;
				display: block;
				margin-top: 11px;
				text-align: center;
				font-weight: 700;
			}
		}

		&.contact {

			.social {

				li {
					display: inline-block;

					a {
						background: white;
						line-height: 32px;
						display: block;
						width: 32px;
						@include rem(font-size, 18px);
						border-radius: 50%;
						text-align: center;

						.fa {
							color: $brand-primary;
						}
					}
				}
			}
		}
	}
}