/*====================================
=            DEVELOPMENTS            =
====================================*/

.single-developments {

	.feature-image {
		position: relative;

		#dev_logo {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 195px;
		}
	}

	#dev-title {
		@include section-padding(50px, 0);
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(9);
		}

		@include media ($large-screen-up) {
			@include span-columns(12); 
		}

		h1 {
			margin: 0;
		}
	}

	#secondary {
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(3);
		}

		@include media ($large-screen-up) {
			@include span-columns(4);
		}

		.intro {
			margin-bottom: 30px;

			h1, h2 {
				margin: 0;
				line-height: normal
			}
		}

		.quicklinks {
			margin-bottom: 30px;
			width: 90%;

			ul {
				margin: 0;

				li {
					
					a {
						display: block;
						background: #00527b;
						margin-bottom: 5px;
						color: white;
						font-weight: 700;
						padding: 6px 10px;
						background-image: url(assets/slide-next.svg);
						background-size: 9px;
						background-repeat: no-repeat;
						background-position: 98% 50%;
					}
				}
			}
		}

		.showhome {
			margin-bottom: 30px;
		}

		.shareme {
			margin-bottom: 30px;
		}
	}

	#primary {
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(6);
		}

		@include media ($large-screen-up) {
			@include span-columns(8); 
		}
	}

	.grid {
		@include section-padding(0, 50px);

		.small-map {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(6);
			}

			@include media ($large-screen-up) {
				@include span-columns(8); 
			}

			.map {
				width: 100%;
				height: 300px;
			}

			/* fixes potential theme css conflict */
			.map img {
			   max-width: inherit !important;
			}
		}

		.quote {
			background-color: #D3ECEA;
			height: 300px;
			@include span-columns(1);
			@include house-icon();
			padding: 20px;

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(4); 
			}

			h3 {
				font-size: 24px;
				line-height: 1.2;
				color: $brand-primary;
			}

			p {
				margin: 20px 0 0 0;
				color: $lightblue;
			}
		}

		.video {
			@include span-columns(1);
			height: 300px;
			overflow: hidden;
			position: relative;

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(4); 
			}

			img {
				display: block;
			}

			.play-icon {
				background-image: url(assets/play.svg);
				width: 100px;
				height: 100px;
				position: absolute;
				top: 50%;
				margin-top: -50px;
				left: 50%;
				margin-left: -50px;
			}
		}

		.feature-gallery {
			@include span-columns(1);
			position: relative;
			background-size: cover;
			background-position: center;

			@include media ($medium-screen-up) {
				@include span-columns(6);
			}

			@include media ($large-screen-up) {
				@include span-columns(8); 
			}

			.gallery {
				margin: 0;
			}

			.gallery-item {
				margin: 0;
				display: none;

				&:first-of-type {
					display: block;
					opacity: 0
				}

				img {
					display: block;
				}
			}

			.clickme {
				position: absolute;
				bottom: 0;
				width: 100%;
				background: $brand-primary;
				z-index: 0;

				h2, p {
					display: inline-block;
					color: white;
					margin: 0;
				}

				h2 {
					margin-right: 10px;
					margin-left: 10px;
					font-size: 22px;
					padding: 8px 0;
				}

				svg {
					position: absolute;
					top: -20px;
					width: 40px;
					right: 20px;

					.house-icon-svg {
						fill: $brand-primary;
						stroke: $brand-primary;
					}
				}
			}
		}

		#dev_video {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 999;
			background: rgba(0,0,0,0.8);
			display: none;

			&.show {
				display: block;
			}

			.close_vid {
				position: absolute;
				top: 5px;
				right: 5px;
				width: 26px;
				height: 26px;
				text-align: center;
				z-index: 10;

				&:before, &:after {
					content: "";
					background: white;
					height: 100%;
					width: 2px;
					position: absolute;
					top: 50%;
					margin-top: -13px;
					left: 50%;
					margin-left: -1px;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}
			
			.vid-wrap {
				max-width: 640px;
				margin: 0 auto;
				padding: 20px;
			}
		}

		.third {
			@include span-columns(1);
			height: 300px;
			overflow: hidden;

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(4); 
			}

			&.view360 {
				position: relative;

				.icon360 {
					position: absolute;
					width: 100px;
					height: 100px;
					background-image: url(assets/virtual-icon.svg);
					background-position: center;
					background-repeat: no-repeat;
					right: 50%;
					top: 50%;
					margin-right: -30px;
					margin-top: -50px;
					background-color: rgba(255,255,255, 0.6);
					border-radius: 50%;
					padding: 10px;
					background-size: 87%;
				}

				.close_popup {
					position: absolute;
					top: 5px;
					right: 5px;
					width: 26px;
					height: 26px;
					text-align: center;
					z-index: 10;

					&:before, &:after {
						content: "";
						background: white;
						height: 100%;
						width: 2px;
						position: absolute;
						top: 50%;
						margin-top: -13px;
						left: 50%;
						margin-left: -1px;
					}
					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}
				}


				#open360 {
					position: fixed;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: rgba(0,0,0,0.8);
					z-index: 10;
					text-align: center;
					display: none;

					&.show {
						display: block;
					}
				}
			}

			&.help-to-buy {
				background-color: $brand-primary;

				a {
					padding: 20px;
					display: block;
					height: 100%;
					@include house-icon();

					img {
						width: 115px;
					}

					p {
						color: white;
						margin: 0;
					}
				}
			}
		}
	}
	
	#siteplan {
		background: #eeeeee;
		position: relative;
		@include section-padding(50px, 50px);

		.ledgend {
			position: absolute;
			top: 120px;

			ul {
				margin: 0;
				width: 250px;

				li {
					display: inline-block;
					width: 100%;

					img {
						float: left;
						width: 30px;
					}

					span {
						float: left;
						line-height: 2.2;
						margin-left: 10px;
					}
				}
			}
		}

		.tabs {
			@include clearfix;
			padding: 0;
			margin: 0;
			position: relative;

			.plan-download {
				position: absolute;
				right: 0;
				top: 13px;

				a {
					background: #00527b;
					padding: 7px 10px;
					color: white;
					font-weight: 600;
				}
			}

			.tab {
				list-style: none;

				@include media($tab-mode) {
					display: inline;
				}
			}

			.tab-link {
				display: block;
				font-size: 30px;
				font-weight: 600;
				margin-right: 10px;
				color: #999;

				@include media($tab-mode) {
					display: inline-block;
				}

				&:hover {
					color: $brand-primary;
				}

				&:focus {
					outline: none;
				}

				&.is-active {
					color: $brand-primary;

					@include media($tab-mode) {
					}
				}
			}
		}

		.tabs-body {
			@include clearfix;
			padding: 0;
			margin: 0;

			.tab-content {
				display: none;
				width: 100%;
				text-align: center;
				padding-top: 50px;

				&.is-active {
					color: $brand-primary;
					display: block;

					@include media($tab-mode) {
					}
				}

				@include media($tab-mode) {
					float: left;
				}
			}
		}
	}
}
