/*====================================
=            DEVELOPMENTS            =
====================================*/

.single-developments {

	.sharedaddy h3.sd-title {
		color: inherit;
	}

	.feature-image {
		position: relative;

		#dev_logo {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 195px;

			img {
				display: inline-block;
				width: 100px;

				@include media ($medium-screen-up) {
					width: 195px;
				}
			}
		}
	}

	#dev-title {
		@include section-padding(50px, 0);
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(9);
		}

		@include media ($large-screen-up) {
			@include span-columns(12); 
		}

		h1 {
			margin: 0;
		}
	}

	#secondary {
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(3);
		}

		@include media ($large-screen-up) {
			@include span-columns(4);
		}

		.intro {
			margin-bottom: 30px;

			h1, h2 {
				margin: 0;
				line-height: normal
			}
		}

		.quicklinks {
			margin-bottom: 30px;
			width: 90%;

			ul {
				margin: 0;

				li {
					
					a, input[type="submit"], input[type="reset"], input[type="button"], button{
						display: block;
						background: #00527b;
						margin-bottom: 5px;
						color: white;
						font-weight: 700;
						padding: 6px 10px;
						background-image: url(assets/slide-next.svg);
						background-size: 9px;
						background-repeat: no-repeat;
						background-position: 98% 50%;
						font-size: inherit;
						border: 0;
						text-transform: none;
						width: 100%;
						text-align: left;
						transition: inherit;
						min-width: inherit;
					}
				}
			}
		}

		.showhome {
			margin-bottom: 30px;
		}

		.shareme {
			margin-bottom: 30px;
		}
	}

	#primary {
		@include span-columns(1);

		@include media ($medium-screen-up) {
			@include span-columns(6);
		}

		@include media ($large-screen-up) {
			@include span-columns(8); 
		}
	}
	
	#siteplan {
		background: #eeeeee;
		position: relative;
		@include section-padding(50px, 50px);

		.ledgend {
			display: none;		

			@include media ($medium-screen-up) {
				position: absolute;
				top: 120px;
				display: block;
			}

			ul {
				margin: 0;
				width: 250px;

				li {
					display: inline-block;
					width: 100%;

					img {
						float: left;
						width: 30px;
					}

					span {
						float: left;
						line-height: 2.2;
						margin-left: 10px;
					}
				}
			}
		}

		.tabs {
			@include clearfix;
			padding: 0;
			margin: 0;
			position: relative;

			.plan-download {
				display: none;

				@include media ($medium-screen-up) {
					position: absolute;
					right: 0;
					top: 13px;
					display: block;
				}

				a {
					background: #00527b;
					padding: 7px 10px;
					color: white;
					font-weight: 600;
				}
			}

			.tab {
				list-style: none;
				display: inline-block;
			}

			.tab-link {
				display: block;
				font-size: 30px;
				font-weight: 600;
				margin-right: 10px;
				opacity: 0.5;

				@include media($tab-mode) {
					display: inline-block;
				}

				&:hover {
					color: $brand-primary;
				}

				&:focus {
					outline: none;
				}

				&.is-active {
					color: $brand-primary;
					opacity: 1;

					@include media($tab-mode) {
					}
				}
			}
		}

		.tabs-body {
			@include clearfix;
			padding: 0;
			margin: 0;
			overflow: hidden;

			.tab-content {
				display: none;
				width: 100%;
				text-align: center;
				padding-top: 50px;

				&.is-active {
					color: $brand-primary;
					display: block;

					@include media($tab-mode) {
					}
				}

				@include media($tab-mode) {
					float: left;
				}

				#plots {
					margin: 50px 0 0 0;
					padding: 0;

					@include media ($large-screen-up) {
						margin: 0;	
					}

					li[class^='plot-'] {
						background-image: none;
						@include span-columns(1);
						margin-bottom: 20px;

						// Most Tablets 
						@include media ($medium-screen-up) {
							@include span-columns(4.5);
							@include omega(2n);
							margin-bottom: 20px;
						}

						// large screens
						@media screen and (min-width: 1000px) {
							position: absolute;
							cursor: pointer;
							width: 24px;
							height: 24px;
						}

						&.available {
							@media screen and (min-width: 1000px) {
								background-image: url(assets/available.svg);
							}

							.plot-popup {
								background: #0080be;

								.tri {
									background: #0080be;
								}

								.btn {
									background: darken(#0080be, 20%);
								}
							}
						}
						&.coming-soon {
							@media screen and (min-width: 1000px) {
								background-image: url(assets/coming-soon.svg);
							}

							.plot-popup {
								background: #f39200;

								.tri {
									background: #f39200;
								}

								.btn {
									background: darken(#f39200, 20%);
								}
							}
						}
						&.release-soon {
							@media screen and (min-width: 1000px) {
								background-image: url(assets/coming-soon.svg);
							}

							.plot-popup {
								background: #f39200;

								.tri {
									background: #f39200;
								}

								.btn {
									background: darken(#f39200, 20%);
								}
							}
						}
						&.not-released {
							@media screen and (min-width: 1000px) {
								background-image: url(assets/not-released.svg);
							}

							.plot-popup {
								background: #814a97;

								.tri {
									background: #814a97;
								}

								.btn {
									background: darken(#814a97, 20%);
								}
							}
						}
						&.reserved {
							@media screen and (min-width: 1000px) {
								background-image: url(assets/reserved.svg);
							}

							.plot-popup {
								background: #72bb6f;

								.tri {
									background: #72bb6f;
								}

								.btn {
									background: darken(#72bb6f, 20%);
								}
							}
						}
						&.show-home {
							@media screen and (min-width: 1000px) {
								background-image: url(assets/show-home.svg);
							}

							.plot-popup {
								background: #00537b;

								.tri {
									background: #00537b;
								}

								.btn {
									background: darken(#00537b, 20%);
								}
							}
						}
						&.sold {
							display: none;

							@include media ($large-screen-up) {
								display: block;
							}
							
							@media screen and (min-width: 1000px) {
								background-image: url(assets/sold.svg);
							}

							.plot-popup {
								background: #d53620;
								
								.tri {
									background: #d53620;
								}
								
								.btn {
									background: darken(#d53620, 20%);
								}
							}
						}
						&.affordable {
							@media screen and (min-width: 1000px) {
								background-image: url(assets/affordable.svg);
							}

							.plot-popup {
								background: #0080be;

								.tri {
									background: #0080be;
								}

								.btn {
									background: darken(#0080be, 20%);
								}
							}
						}

						.plot-popup {
							background-color: $lightblue;
							padding: 10px;

							@media screen and (min-width: 1000px) {
								display: none;
								position: absolute;
								width: 230px;
								left: -103px;
								top: 32px;
								z-index: 5;
							}

							.tri {
								@media screen and (min-width: 1000px) {
									width: 24px;
									height: 24px;
									position: absolute;
									top: -10px;
									left: 50%;
									margin-left: -12px;
									background: $lightblue;
									transform: rotate(-45deg);
									z-index: -1;
								}
							}

							h4, h3 {
								color: white;
								text-align: left;
								line-height: 1.2;
							}

							.btn {
								background: #00527b;
								width: 100%;
								margin: 0;
								display: block;
								color: white;
								padding: 6px;
								font-weight: 700
							}
						}

						&.show {
		
							.plot-popup {
								display: block;
							}
						}
					}
				}
			}
		}
	}

	#specifications {
		position: relative;
		@include section-padding(50px, 50px);

		.fa-plus-circle {
			color: #999;
		}

		.fa-check-circle {
			color: $brand-primary;
		}

		.spec-ledgend {
			display: block;
			border-bottom: 1px solid #ccc;
			margin: 20px 0;

			ul {
				margin: 0;

				li {
					border-top: 1px solid #ccc;
					position: relative;
					padding: 5px 0 5px 20px;

					.fa {
						position: absolute;
						left: 0px;
						top: 10px;
					}
				}
			}
		}

		.spec-tabs {
			@include clearfix;
			padding: 0;
			margin: 0;
			position: relative;

			.spec-tab {
				list-style: none;
				display: inline-block;
			}

			.spec-tab-link {
				display: block;
				font-size: 30px;
				font-weight: 600;
				margin-right: 10px;
				line-height: 1.2;
				opacity: 0.5;

				small {
					display: block;
					font-size: 13px;
				}

				@include media($tab-mode) {
					display: inline-block;
				}

				&:hover {
					opacity: 0.5;
				}

				&:focus {
					outline: none;
				}

				&.is-active {
					color: $brand-primary;
					opacity: 1;
				}
			}
		}

		.spec-tabs-body {
			@include clearfix;
			padding: 0;
			margin: 0;

			.spec-tab-content {
				display: none;
				width: 100%;
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;


				@include media($tab-mode) {				
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
				}


				.items {
					display: inline-block;
					margin: 0 0 20px;
					width: 100%;

					h3 {
						font-size: 24px;
						margin-bottom: 15px;
					}

					ul {
						margin: 0;
						border-bottom: 1px solid #ccc;
						color: $text-color;

						li {
							border-top: 1px solid #ccc;
							position: relative;
							padding: 5px 0 5px 20px;

							.fa {
								position: absolute;
								left: 0px;
								top: 10px;
							}
						}
					}
				}

				&.is-active {
					color: $brand-primary;
					display: block;
				}

				@include media($tab-mode) {
					float: left;
				}
			}
		}
	}

	#locality {
		background: #eee;
		@include section-padding(50px, 50px);

		h2 {
			font-size: 30px;
			margin-bottom: 25px;
		}

		.intro {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;

			@include media ($medium-screen-up) {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
			}

			padding-bottom: 50px;

			p {
				display: inline-block;
				margin: 0 0 20px;
				width: 100%;
			}

			a {
				display: block;
				background: #00527b;
				margin-bottom: 5px;
				color: white;
				font-weight: 700;
				padding: 6px 10px;
				background-image: url(assets/slide-next.svg);
				background-size: 9px;
				background-repeat: no-repeat;
				background-position: 98% 50%;
			}
		}

		.local-map {
			height: 700px;

			.gm-style-iw {
				text-align: center;
				line-height: 1;
			}

			.gm-style-iw + div {display: none;}
		}

		.legend {
			position: absolute;
			border-radius: 2px;
			box-shadow: rgba(0,0,0,0.298039) 0px 1px 4px -1px;
			padding: 5px 10px;
			background: white;
			z-index: 5;
			right: 10px;
			margin-top: 10px;
			width: 50%;

			@include media ($medium-screen-up) {
				width: auto;
			}

			ul {
				margin: 0;

				li {
					display: inline-block;
					margin-bottom: 10px;
					
					@include media ($medium-screen-up) {
						margin-right: 10px;
						margin-bottom: 0;
					}

					img {
						width: 24px;
						float: left;
						margin-right: 5px;
					}

					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}

		.type {
			float: left;
			width: 100%;
			padding-top: 50px;

			@include media ($medium-screen-up) {
				width: 50%;
			}

			@include media ($large-screen-up) {
				width: 25%;
			}

			p {
				margin-bottom: 5px;
			}
		}
	}

	#reginterest {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 20px;
		overflow: scroll;
		z-index: 555;
		background: rgba(0,53,76,0.9);
		transition: all 300ms ease-in-out;

		#closeme {
			position: absolute;
			right: 10px;
			top: 10px;
			width: 36px;
			height: 36px;

			&:before {
				content: "";
				width: 36px;
				height: 2px;
				background: $lightblue;
				position: absolute;
				left: 0;
				top: 18px;
				transform: rotate(-45deg);
			}

			&:after {
				content: "";
				width: 36px;
				height: 2px;
				background: $lightblue;
				position: absolute;
				left: 0;
				top: 18px;
				transform: rotate(45deg);
			}
		}

		&.reveal {
			width: 100%;
		}

		&.down {
			height: 100%;
		}

		.gform_wrapper {
			margin-top: 50px;
		}

		.gform_fields {

			.gfield {
				
				label {
					color: white;
				}

				.gfield_checkbox {

					li {

						label {
							color: #ccc;

							&:before {
								border-color: white;
							}
						}
					}
				}
			}
		}
	}
}

// plot points
@import 'plots/cragclose';
@import 'plots/oversands';
@import 'plots/avenue';
@import 'plots/sheiling';
@import 'plots/tenterfield';
