/*============================
=            Home            =
============================*/

#slider {

	.caption-wrap {
		background: none;
		max-width: 960px;
		@include rem(padding, 0 20px);
		width: 100%;
		margin: 0 auto;
		float: none;
		position: absolute;
		left: 50%;
		margin-left: -480px;
		top: 50%;
		opacity: 1;

		h2 {
			@include rem(font-size, 50px);
			line-height: 1;
			white-space: pre;
			color: #ffffff;
			font-style: normal;

			text-shadow: 1px 1px 2px #333;
			-moz-text-shadow: 1px 1px 2px #333;
			-webkit-text-shadow: 1px 1px 2px #333;
			-o-text-shadow: 1px 1px 2px #333;
		}

		p {
			color: #ffffff;
			white-space: pre;
			@include rem(font-size, 19px);
			line-height: 1.2;
			font-weight: 700;
			margin: 0;

			text-shadow: 1px 1px 2px #333;
			-moz-text-shadow: 1px 1px 2px #333;
			-webkit-text-shadow: 1px 1px 2px #333;
			-o-text-shadow: 1px 1px 2px #333;
		}
	}
}

#homesearch {
	background-color: $light-gray;
	@include rem(padding, 20px);

	#quicksearch {
		position: relative;
		float: left;
		width: 100%;

	}

	.search {
		@include span-columns(1);

		@include media($medium-screen-up) {
			@include span-columns(6);
		}

		@include media($large-screen-up) {
			@include span-columns(8);
		}

		h3 {
			@include rem(font-size, 24px);
			margin: 0 0 10px 0;
		}

		fieldset, select, input {
			float: left;
		}

		fieldset {
			background: white;
			width: 100%;
			padding: 0;
			border: 0;
			position: relative;
			@include rem(max-width, 200px);
			@include rem(margin-right, 10px);

			.parsley-errors-list {
				margin: 0;
				position: absolute;
				width: 100%;
				height: 100%;

					li.parsley-custom-error-message {
						position: absolute;
						right: 7px;
						line-height: 36px;
						font-size: 16px;
						color: #cc0000;
					}
			}

			.parsley-error {
				border: 1px solid #cc0000;
			}
		}

		select {
			background-color: white;
			width: 100%;
			padding: 0;
			@include rem(max-width, 200px);
			@include rem(line-height, 34px);
			@include rem(text-indent, 10px);
		}
	}
	
	.social {
		text-align: right;
		@include span-columns(1);

		@include media($medium-screen-up) {
			@include span-columns(3);
		}

		@include media($large-screen-up) {
			@include span-columns(4);
		}

		ul {
			margin: 0;
			list-style: none;
			display: block;

			li {
				display: inline-block;

				a {
					@include rem(width, 32px);
					margin: 0;
					@include rem(font-size, 18px);
					display: block;
					text-align: center;
					@include rem(line-height, 32px);
					background: $brand-primary;
					color: white;
					border-radius: 50%;
				}
			}
		}

		p {
			margin: 0;
			color: $brand-primary;
			@include rem(font-size, 18px);
			font-weight: 600;
		}
	}
}

.home {

	#main {
		@include section-padding(50px, 0);

		.page_title {
			@include section-padding(0, 50px);
			
			h1 {
				margin: 0;
				@include rem(font-size, 42px);
			}
		}

		article {
			@include section-padding(0, 50px);

			.entry-content {
				@include media ($large-screen-up) {
					-webkit-column-count: 2; /* Chrome, Safari, Opera */
					-moz-column-count: 2; /* Firefox */
					column-count: 2;
					display: flex;
				}
			}
		}

		.adverts {
			@include section-padding(0, 50px);
			
			.help-to-buy {
				@include span-columns(1);
				background-color: $brand-primary;
				height: 272px;
				

				@include media ($medium-screen-up) {
					@include span-columns(3);
				}

				@include media ($large-screen-up) {
					@include span-columns(4);
				}

				a {
					@include rem(padding, 20px);
					display: block;

					@include house-icon();
				}

				img {
					@include rem(width, 115px);
				}
				
				p {
					color: white;
					margin: 0;
				}
			}

			.feature-plot {
				@include span-columns(1);
				overflow: hidden;
				height: 272px;

				@include media ($medium-screen-up) {
					@include span-columns(6);
				}

				@include media ($large-screen-up) {
					@include span-columns(8);
				}

				.img {
					float: left;
					width: 60%;
					height: 100%;
					overflow: hidden;
					position: relative;
				}

				img {
					height: 100%;
					max-width: none;
					width: auto;
				}

				.deets {
					float: left;
					width: 40%;
					height: 100%;
					@include rem(padding, 20px);
					background-color: $lightblue;

					@include house-icon();

					h2, h3 {
						color: white;
						line-height: 1;
					}

					h2 {
						@include rem(font-size, 24px);	
						@include rem(margin-bottom, 20px);
					}

					h3 {
						@include rem(font-size, 20px);
						margin: 0;
					}

					p {
						color: white;
					}
				}
			}
		}
	}

	#locations {
		background-color: $cloud-grey;
		@include section-padding(50px, 0);

		.title {
			@include section-padding(0, 50px);
			
			h2 {
				@include rem(font-size, 30px);
				margin: 0;
			}
		}

		.text {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(3);
			}
		}
		
		#mps-container {
			position: relative;
		}

		.home-map {
			width: 100%;
			height: 500px;
			border: 0;
			margin: 0;
		}

		.map-icon-img {
			width: 20px;
			height: 20px;
			opacity: 0.7;
		}

		.key {
			position: absolute;
			z-index: 10;
			right: 10px;
			top: 10px;
			background: white;
			@include rem(padding, 5px 10px);
			border-radius: 2px;
			box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;

			p {
				margin: 0;

				span {
					@include rem(padding-left, 24px);
					background-position: left center;
					background-repeat: no-repeat;
					background-size: contain;
					margin-right: 5px;
				}
			}

			.rs {
				background-image: url(assets/release-soon.svg);
			}

			.av {
				background-image: url(assets/available.svg);
			}
		}

		/* fixes potential theme css conflict */
		.home-map img {
		   max-width: inherit !important;
		}

		#map_popups {
			display: none;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-color: rgba(0,0,0,0.3);

			&.show {
				display: block;
			}
		}

		.box {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
		}

		.map_popup {
			//display: none;
			background: $brand-primary;
			@include rem(padding, 20px);
			opacity: 0;
			visibility: hidden;		
			width: 55.537%;
			margin: 0 auto;
			transition: $base-transition;
			position: relative;

			.close_popup {
				position: absolute;
				top: 5px;
				right: 5px;
				width: 26px;
				height: 26px;
				text-align: center;
				z-index: 10;

				&:before, &:after {
					content: "";
					background: white;
					height: 100%;
					width: 2px;
					position: absolute;
					top: 50%;
					margin-top: -13px;
					left: 50%;
					margin-left: -1px;
				}
				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}


			.popup_gallery {
				float: left;
				width: 50%;

				img {
					display: block;
				}
			}

			.popup_info {
				float: left;
				width: 50%;
				@include rem(padding, 0 0 0 20px);

				.top_text {

					h3 {
						@include rem(font-size, 30px);
						color: #ffffff;
						margin: 0;
						line-height: 1;
					}

					.develeopment_location {
						@include rem(font-size, 20px);
						color: #ffffff;
						margin: 0;
						line-height: 1;
					}
				}
				
				.development_text {
					
					p {
						@include rem(margin, 15px 0);
						color: #fff;
					}
				}

				.development_view {

					a {
						background-color: $lightblue;
						@include rem(padding, 5px 10px);
						float: left;
						color: #ffffff;
					}
				}
			}

			&.show {
				visibility: visible;
				opacity: 1;
			}
		}

		.dev-list {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(5);
				@include shift(1);
			}

			@include media ($large-screen-up) {
				@include span-columns(8);
				@include shift(1);
			}

			.devs {
				@include rem(margin-bottom, 20px);
				width: 50%;
				float: left;

				h3 {
					color: #666666;
				}

				h3, p {
					margin-bottom: 0;
					border-bottom: 1px solid #ccc;
					@include rem(margin-right, 15px);
					line-height: 2;
				}

				a {
					color: inherit;
				}

				p {
					&:last-of-type {
						border-bottom: 0;
					}
				}
			}
		}
	}

	#community {
		position: relative;
		@include section-padding(0, 50px);

		.title {
			@include section-padding(50px, 50px);

			h2 {
				@include rem(font-size, 30px);
				margin: 0;
			}
		}

		.column {
			@include span-columns(1);

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(4);
			}

			.box {
				height: 300px;
				overflow: hidden;
				border: 5px solid #eee;
				box-sizing: border-box;
				position: relative;
				background-size: cover;
				background-position: center;

				.title {
					position: absolute;
					z-index: 1;
					bottom: 10px;
					left: 10px;
					line-height: 1.6;
					background: rgba(255,255,255,0.8);
					@include rem(padding, 0 5px);
					right: 10px;
					text-align: center;
				}

				&.tweet {
					background-color: $brand-primary;
					border-color: $brand-primary;
					color: white;
				}

				img {
					display: block;
				}

				.play {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.2);
					background-image: url(assets/play.svg);
					background-size: 60px;
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			#video-box {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0,0,0,0.8);
				width: 100%;
				z-index: 5;
				height: 100%;

				.close_map {
					position: absolute;
					top: 5px;
					right: 5px;
					width: 26px;
					height: 26px;
					text-align: center;
					z-index: 10;

					&:before, &:after {
						content: "";
						background: white;
						height: 100%;
						width: 2px;
						position: absolute;
						top: 50%;
						margin-top: -13px;
						left: 50%;
						margin-left: -1px;
					}

					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}
				}

				&.show {
					display: block;
				}

				.embed-container { 
					position: relative; 
					padding-bottom: 370px;
					height: 0;
					overflow: hidden;
					max-width: 640px;
					height: auto;
					margin: 0 auto;
					border-left: 10px solid black;
					border-right: 10px solid black;
				} 

				.embed-container iframe,
				.embed-container object,
				.embed-container embed { 
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}

			.icon {
				width: 100%;
				@include rem(margin-top, 20px);
				text-align: center;

				a {
					display: block;
					color: $brand-primary;
					text-decoration: none;

					.fa {
						background: $brand-primary;
						border-radius: 50%;
						text-align: center;
						width: 50px;
						line-height: 50px;
						@include rem(font-size, 26px);
						color: white;
						@include rem(margin-bottom, 20px);
					}
				}
			}
		}
	}
}