/*==============================
=            Global            =
==============================*/

.disablescroll {
	overflow: hidden;
}

#loading-page {
	position: fixed;
	background-color: #ffffff;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999;
	text-align: center;
	transition: all 300ms ease-in-out;

	img#loading-image {
	}

	&.hide {
		opacity: 0;
	}
}

.hentry {
	margin: 0;
}

.byline, .updated:not(.published) { 
	display: none; 
}

.single, .group-blog {
	
	.byline { 
		display: inline; 
	}
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;

	iframe,
	object,
	embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.page-content, .entry-content, .entry-summary { 
	@include rem(margin, 0);
}

.page-links { 
	clear: both; 
	@include rem(margin, 0 0 15px);
}

#primary {
	
	ul {
		
		li {
			
			&:before {
				content: "- ";
				position: absolute;
				left: -10px;
			}
		}
	}
}

/*==================================
=            Base Pages            =
==================================*/

.feature-image {
	border-bottom: 5px solid $brand-primary;

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.page-title {
	@include section-padding(50px, 50px);

	h1 {
		margin: 0;
	}
}

.default-page {
	@include rem(margin-bottom, 50px);

	#primary {
		@include span-columns(1);

		@include media($medium-screen-up) {
			@include span-columns(6);
		}

		@include media($large-screen-up) {
			@include span-columns(8);
		}

		&.full {
			@include span-columns(1);

			@include media($medium-screen-up) {
				@include span-columns(9);
			}

			@include media($large-screen-up) {
				@include span-columns(12);
			}
		}
	}	

	#secondary {
		@include span-columns(1);

		@include media($medium-screen-up) {
			@include span-columns(3);
		}

		@include media($large-screen-up) {
			@include span-columns(4);
		}
	}	
}

/*====================================================
=            Login / Register / PWD reset            =
====================================================*/

.log-in, .lost-password {

	#content {
		min-height: 100vh;

		.page-title {
			text-align: center;
		}

		.tml {

			.tml-submit-wrap {
				
				input {
					width: 100%;
					display: block;
				}
			}

			.tml-action-links {
				width: 100%;
				margin: 0;
				display: block;

				li {

					&:before {
						display: none;
					}
				}
			}
		}

		#theme-my-login {
			margin: 0 auto;
		}
	}
}