/*===========================================
=            SINGLE GALLERY PAGE            =
===========================================*/

.single-galleries {

	.page-title {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	.feature-gallery {
		margin-top: 25px;
	}
}

